input[type=text] {
    width: 90%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea {
    width: 90%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

input[type=button], input[type=submit] {
    background-color: red;
    float: right;
    border: none;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
}