h1 {
    font-size: 32px;
    color: black;
    text-align: center;
    font-family: sans-serif;
}

html {
    background-color: #111111;
}

body {
    background : white;
    color: black;
    text-align: left;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

td {
  padding: 5px 5px;
}