<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <div class="menu">
            <a href="/welcome/index">Home</a>
            <a href=/users>Users</a>
            <a href=/users/1>Reviews</a>
        </div>
        
<h1>Homepage</h1>
        
<p>This is the welcome index of our web-app</p>
    </body>
</html>
