// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.styles_image {
    max-height: 500px; 
    max-width: 500px;
    padding-bottom: 30px;
}

.row {
  display: flex;
  justify-content: center
}

.column {
  vertical-align: middle;
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
}