        <div class="menu">
            <%= image_tag("logo.png", class: "logo")%>
            <a href=/users/1>Reviews</a>
            <a href=/movies>Movies</a>
            <a href=/users>Users</a>
            <a href="/welcome/index">Home</a>
        </div>
        
<h1>Editing movie</h1>
 
<%= render 'form' %> 
 
<%= link_to 'Back', movies_path %>