<%= render 'menu' %>

<h1>How to create an account</h1>
      <div style="text-align: center; max-height: 350px; max-width: 1000px; overflow: auto;">
        <table align= "center">
      <tr>
      <td colspan="4"></td>
          <td><a href= login><%= 'help_view_images/Help_Image1' %></a></td>
    </tr>
    </table>
  </div>